h1, .about, #portfolio, .services-container, .picture {
    padding: 20px;
}

.about {
    width: 50%;
}

.picture {
    width: 100%;
    background-color: black;
    color: white;
    padding: 40px;
}

.quote {
    font-size: 3rem;
}

.quote, .picture > p {
    width: 50%;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .features {
        width: 250px;
        height: 170px;
    }

    section > .picture {
        padding: 20px;
        width: fit-content;
        margin: 0 auto;
    }

    section > .picture > p {
        font-size: 1.25rem;
    }

    .picture > .quote {
        font-size: 1.5rem;
    }

    .part > .about {
        width: 80%;
    }
}

@media screen and (min-width: 480px) and (max-width: 680px) {
    .features {
        width: 340px;
        height: 225px;
    }

    .quote {
        font-size: 2rem;
    }

    .picture > p {
        font-size: 1.25rem;
    }

    .picture > .quote {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 680px) and (max-width: 900px) {
    .features {
        width: 600px;
        height: 450px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .features {
        width: 800px;
        height: 570px;
    }
}

@media screen and (min-width: 1200px) {
    .features {
        width: 1000px;
        height: 720px;
    }
}

.picture > p {
    font-size: 2rem;
}

.here {
    color: #2a3e97;
}

.services-container > h2 {
    text-align: center;
}

.extra {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.extra > h3 {
    text-decoration: underline;
}