h1 {
    margin-bottom: 7px;
}

.icons, .email, h1 {
    padding: 20px;
}

.email > h2 {
    font-size: 3rem;
}

.email > p {
    font-size: 1.5rem;
}

.email-link {
    color: black;
}

.link {
    color: #668df8;
}

.icons {
    margin-top: 20px;
    background-color: black;
    color: white;
    min-height: fit-content;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1000px
}

.slide-container {
    width: 40%;
    height: 1000px;
    background-color: rgb(71, 71, 71);
}

.slide-left {
    background-color: black;
    color: white;
    padding: 10px;
    min-height: 27.5%;
    max-width: 100%;
}

.slide-right {
    background-color: gray;
    color: white;
    padding: 10px;
    min-height: 27.5%;
    margin-top: -5px;
    max-width: 100%;
}

.pic {
    max-height: 45%;
    max-width: 100%;
}