/* General styling*/
@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes underline {
    0% {
        text-decoration: none;
    }

    0.01% {
        text-decoration: underline;
    }

    100% {
        text-decoration: underline;
    }
}

@media screen and (max-width: 668px) {
    .part:has(#portfolio) {
        width: 100%;
        padding-bottom: 3rem;
    }

    #portfolio > .work-container > .design {
        width: 350px;
        height: 400px;
        font-size: 1.2rem;
    }

    .work-container > .design > .computer {
        width: 220px;
        height: 200px;
    }

    .header > .logo > a > img, .footer > .logo > a > img {
        width: 230px;
        height: 70px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

.here {
    color: #435cca;
}

p {
    font-size: 1.2rem;
}

span > i:hover, a > i:hover {
    opacity: 0.8;
}

.part {
    min-height: fit-content;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 7rem;
}

button {
    color: white;
    background-color: rgb(20, 34, 98);
    border: 1px solid white;
    border-radius: 5%;
    padding: 3px;
}

button:hover {
    background-color: rgb(34, 56, 155);
}

h1, h2, h3, q {
    font-family: 'Anybody', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 10rem;
}

h1, q {
    font-size: 2.5rem;
    font-weight: 1000;
    text-transform: uppercase;
}

h2 {
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25rem;
    font-weight: 750;
    text-transform: uppercase;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    font-size: 1.2rem;
}

.design {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    padding: 20px;
}

.computer {
    width: 350px;
    height: 330px;
    margin: 0 auto;
}

.design > a > i {
    color: rgb(20, 34, 98);
    font-size: 1.5rem;
    padding: 3px;
}

.service {
    border: 2px solid white;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    padding: 15px;
    color: rgba(255, 255, 255, 0.925);
    background-image: linear-gradient(rgb(20, 34, 98), rgb(41, 63, 158));
}

/* Header styling */
section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
} 

.logo > a > img {
    border: 1px solid black;
}

.logo > a > img:hover {
   border: 1px solid white;
}

.menu, .info {
    display: flex;
}

.header {
    padding: 20px;
    background-color: black;
    min-height: 40vh;
    color: white;
    max-width: 100%;
    overflow: hidden;
}

.menu {
    display: flex;
    list-style-type: none;
    width: 30%;
    margin-left: auto;
    margin-right: 5%;
    flex-wrap: wrap;
}

.menu > li {
    font-size: 1.2rem;
    flex: 1 1 auto;
    padding: 7px;
}

.menu > li:hover {
    animation: underline 100s normal;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    animation: underline 100s normal;
}

.none:hover {
    animation: none;
}

/* Footer styling */
.footer {
    background-color: black;
    color: white;
    height: fit-content;
    padding: 20px;
    overflow: hidden;
    z-index: 2;
}

.info {
    justify-content: space-between;
} 

.icons {
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

.icon {
    font-size: 2.2rem;
}

.links {
    list-style-type: none;
} 

.links > li {
    padding: 7px;
    margin-right: 20px;
    font-size: 1.2rem;
}

.links > li:hover {
    animation: underline 100s normal;
}

.copyright {
    margin-bottom: 20px;
}