.summary, .introduction > p, .payments {
    width: 50%;
}

.summary, .introduction > p, .payments, .portfolio,
.services-container {
    padding: 20px
}

q {
    font-size: xx-large;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 100px;
}

.grid-item {
    width: 200px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.payments {
    margin-left: auto;
    margin-right: 0px;
    max-width: 550px;
}
