.left, .introduction > p, .payments {
    width: 50%;
}

.summary, .introduction > p, .payments, #portfolio,
.services-container, .slide-left, .slide-right {
    padding: 20px
}

.summary {
    display: flex;
    gap: 10%;
}

q {
    font-size: xx-large;
}

.button > i {
    padding-right: 7px;
}

.parent {
    display: flex;
    justify-content: center;
}

.right {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.button { 
    border: black 1px solid;
    padding: 7px;
    font-size: 1.5rem;
    background-size: 200% 100%; 
    background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, white 50%),
    linear-gradient(to right, white 50%, rgb(0, 0, 0) 50%);
    transition: background-position 0.2s linear; 
    -webkit-background-clip: text, border-box;
    background-clip: text, border-box; 
    color: transparent; 
}

.button:hover { 
    background-position: -100% 0; 
}

.caption {
    font-size: 3rem;
    width: 15%;
}

.caption-container > p {
    width: 40%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 100px;
}

.grid-item {
    width: 200px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.inside {
    padding-bottom: 100px;
}

.slide-container {
    display: flex;
    overflow: hidden;
}

.pic {
    max-width: 100%;
    min-height: 100%;
}

.slide-left {
    background-color: black;
    color: white;
    max-width: 35%;
    padding: 10px;
}

.slide-left > p, .slide-left > h2, .slide-right > h2, .slide-right > p {
    width: 70%;
    padding: 30px 10px;
} 

.slide-left > p, .slide-right > p {
    font-size: 1.4rem;
}

.slide-right {
    background-color: gray;
    color: white;
    max-width: 35%;
    padding: 10px;
}

.link {
    color: #2a3e97;
}

#portfolio {
    background-color: white;
    padding: 15px;
    padding-bottom: -15px;
}

.payments {
    margin-left: auto;
    margin-right: 0px;
    width: 50%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px dashed black;
}

.services-container > h2 {
    text-align: center;
}
