@media screen and (max-width: 478px) {
    .points > .parent .point, .points > .point {
        font-size: 1rem;
        height: fit-content;
        width: 300px;
    }

    .part, .process > .process-ul > li {
        width: 95%;
    }

    .child > .blog {
        width: 235px;
        height: 360px;
    }

    body > .header > h1 {
        font-size: 2rem;
    }
}

h1, .points, .process, .services-container {
    padding: 20px;
}

.points {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.process-ul {
    background-color: #142262;
    outline: 2px white solid;
    outline-offset: -20px;
    color: white;
    padding: 40px;
}

.process > p {
    font-size: 1.4rem;
}

.warning {
    color: rgb(177, 0, 0);
    font-size: 1.4rem;
}

.point {
    width: 400px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 300px;
    font-size: 1.2rem;
}

.parent {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.child {
    background-color: gray;
    padding: 5%;
    color: white;
}

.child > p {
    width: 75%;
    font-size: 2rem;
}

@media screen and (min-width: 1318px) {
    .child {
        display: flex;
        gap: 4rem;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .blog {
        width: 400px;
        height: 580px
    }

    .caption {
        padding-left: 3px;
        margin-right: 18rem;
    }
}

@media screen and (max-width: 700px) {
    #special {
        margin: 0;
    }

    .blog {
        width: 300px;
        height: 470px;
    }

    .child > h2 {
        font-size: 2rem;
    }

    .child > p {
        font-size: 1.5rem;
    }
}

.caption {
    width: 10%;
    font-size: 3rem;
}

.process > ul {
    list-style-type: none;
}

.process > ul > li {
    width: 70%;
    font-size: 1.2rem;
    padding: 5px;
}

li > i {
    padding: 7px;
}