h1, .points, .process, .services-container {
    padding: 20px;
}

.points {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.point {
    width: 400px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.process > ul {
    list-style-type: none;
}

.process > ul > li {
    width: 70%;
    font-size: 1.2rem;
    padding: 5px;
}

li > i {
    padding: 7px;
}